vti_encoding:SR|utf8-nl
vti_author:SR|LAPTOP-2HSQ0S0R\\Дом
vti_modifiedby:SR|LAPTOP-2HSQ0S0R\\Дом
vti_timelastmodified:TR|01 Mar 2018 15:12:12 -0000
vti_timecreated:TR|01 Mar 2018 15:12:12 -0000
vti_cacheddtm:TX|01 Mar 2018 15:12:12 -0000
vti_filesize:IR|1460
vti_cachedlinkinfo:VX|S|banner_iris.gif S|rule_iris.gif S|bull1_iris.gif S|bull2_iris.gif S|bull3_iris.gif S|nav_hor_iris.gif S|nav_hor_down_iris.gif S|nav_vert_down_iris.gif S|nav_vert_iris.gif S|nav_home_iris.gif S|nav_up_iris.gif S|nav_prev_iris.gif S|nav_next_iris.gif S|bull1_iris.gif S|bull2_iris.gif S|bull3_iris.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/iris/banner_iris.gif FSUS|_themes/iris/rule_iris.gif FSUS|_themes/iris/bull1_iris.gif FSUS|_themes/iris/bull2_iris.gif FSUS|_themes/iris/bull3_iris.gif FSUS|_themes/iris/nav_hor_iris.gif FSUS|_themes/iris/nav_hor_down_iris.gif FSUS|_themes/iris/nav_vert_down_iris.gif FSUS|_themes/iris/nav_vert_iris.gif FSUS|_themes/iris/nav_home_iris.gif FSUS|_themes/iris/nav_up_iris.gif FSUS|_themes/iris/nav_prev_iris.gif FSUS|_themes/iris/nav_next_iris.gif FSUS|_themes/iris/bull1_iris.gif FSUS|_themes/iris/bull2_iris.gif FSUS|_themes/iris/bull3_iris.gif
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|
