vti_encoding:SR|utf8-nl
vti_author:SR|LAPTOP-2HSQ0S0R\\Дом
vti_modifiedby:SR|LAPTOP-2HSQ0S0R\\Дом
vti_timelastmodified:TR|02 Mar 2018 20:26:19 -0000
vti_timecreated:TR|02 Mar 2018 20:26:19 -0000
vti_cacheddtm:TX|02 Mar 2018 20:26:19 -0000
vti_filesize:IR|1286
vti_cachedlinkinfo:VX|S|strrulec.gif S|strbul1c.gif S|strbul2c.gif S|strbul3c.gif S|strbanc.gif S|strhorzbtnnc.gif S|strhorzbtnsc.gif S|strvertbtnnc.gif S|strvertbtnsc.gif S|strhomebtnc.gif S|strnextbtnc.gif S|strprevbtnc.gif S|strupbtnc.gif S|strbul1c.gif S|strbul2c.gif S|strbul3c.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/strtedge/strrulec.gif FSUS|_themes/strtedge/strbul1c.gif FSUS|_themes/strtedge/strbul2c.gif FSUS|_themes/strtedge/strbul3c.gif FSUS|_themes/strtedge/strbanc.gif FSUS|_themes/strtedge/strhorzbtnnc.gif FSUS|_themes/strtedge/strhorzbtnsc.gif FSUS|_themes/strtedge/strvertbtnnc.gif FSUS|_themes/strtedge/strvertbtnsc.gif FSUS|_themes/strtedge/strhomebtnc.gif FSUS|_themes/strtedge/strnextbtnc.gif FSUS|_themes/strtedge/strprevbtnc.gif FSUS|_themes/strtedge/strupbtnc.gif FSUS|_themes/strtedge/strbul1c.gif FSUS|_themes/strtedge/strbul2c.gif FSUS|_themes/strtedge/strbul3c.gif
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|
